{#include base.html}{/include}
{#include new-classification.html}{/include}
{#include delete-classification.html}{/include}
{#include read-classification.html}{/include}

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="/" class="navbar-brand">Quarkus Hackaton</a>
    </nav>

    <!-- DATA TABLE -->
    <div class="container-xl">
        <div class="table-margin">
            <div class="table-wrapper bg-white">
                <div class="table-title bg-dark text-white">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2>Image classification</h2>
                        </div>
                        <div class="col-sm-7">
                            <button type="button" class="btn" data-toggle="modal" data-target="#newClassificationModal"><i class="material-icons">&#xE147;</i><span>Add new classification</span></button>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    {#if classifications.size == 0}
                    <tr>
                        <td colspan="5">No data found.</td>
                    </tr>
                    {#else}
                    {#for classification in classifications}
                    <tr>
                        {#if classification.url == null}
                        <td><span class="material-icons avatar">no_photography</span></td>
                        {#else}
                        <td><img src="{classification.url}" class="avatar"></td>
                        {/if}
                        <td>{classification.name}</td>
                        <td>{classification.createdAt}</td>
                        {#if classification.status == "ACTIVE"}
                        <td><span class="status status-success">&bull;</span> Processed</td>
                        {#else if classification.status == "PENDING"}
                        <td><span class="status status-pending">&bull;</span> Processing</td>
                        {#else if classification.status == "ERROR"}
                        <td><span class="status status-error">&bull;</span> Error processing</td>
                        {/if}
                        <td>
                            <a href="#" class="settings" title="Detail" data-toggle="modal" data-target="#readClassificationModal" data-id="{classification.id}"><i class="material-icons">search</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="modal" data-target="#deleteClassificationModal" data-id="{classification.id}"><i class="material-icons">&#xE5C9;</i></a>
                        </td>
                    </tr>
                    {/for}
                    {/if}
                </table>

                <div class="clearfix">
                    <div class="hint-text">Showing last <b>{classifications.size}</b> element(s)</div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    // Get classification details and send them to modal
    var infoModal = $('#readClassificationModal');
    $('.settings').on('click', function(){
        $.ajax({
          type: "GET",
          url: "/read-classification/" + $(this).data("id"),
          dataType: 'json',
          success: function(data){
            // Set URL image
            infoModal.find("#url").attr("src", data.url);

            // Set first tag
            infoModal.find("#first-tag").text(data.tags[0].name);
            infoModal.find("#first-tag-confidence").width(data.tags[0].confidence.toFixed(2) + "%");
            infoModal.find("#first-tag-confidence-text").text(data.tags[0].confidence.toFixed(2) + "%");

            // Set second tag
            infoModal.find("#second-tag").text(data.tags[1].name);
            infoModal.find("#second-tag-confidence").width(data.tags[1].confidence.toFixed(2) + "%");
            infoModal.find("#second-tag-confidence-text").text(data.tags[1].confidence.toFixed(2) + "%");

            // Set third tag
            infoModal.find("#third-tag").text(data.tags[2].name);
            infoModal.find("#third-tag-confidence").width(data.tags[2].confidence.toFixed(2) + "%");
            infoModal.find("#third-tag-confidence-text").text(data.tags[2].confidence.toFixed(2) + "%");

            // Set fourth tag
            infoModal.find("#fourth-tag").text(data.tags[3].name);
            infoModal.find("#fourth-tag-confidence").width(data.tags[3].confidence.toFixed(2) + "%");
            infoModal.find("#fourth-tag-confidence-text").text(data.tags[3].confidence.toFixed(2) + "%");

            // Set fifth tag
            infoModal.find("#fifth-tag").text(data.tags[4].name);
            infoModal.find("#fifth-tag-confidence").width(data.tags[4].confidence.toFixed(2) + "%");
            infoModal.find("#fifth-tag-confidence-text").text(data.tags[4].confidence.toFixed(2) + "%");

            // Set sixth tag
            infoModal.find("#sixth-tag").text(data.tags[5].name);
            infoModal.find("#sixth-tag-confidence").width(data.tags[5].confidence.toFixed(2) + "%");
            infoModal.find("#sixth-tag-confidence-text").text(data.tags[5].confidence.toFixed(2) + "%");

            // Set title
            infoModal.find("#modalLabel").text("Read classification - " + data.name);

            infoModal.modal('show');
          }
        });

        return false;
    });

    // Send data-classification-id to modal submit button
    $("#deleteClassificationModal").on("show.bs.modal", function(e) {
        var classificationId = $(e.relatedTarget).data("id");

        $("#submit-button").attr("data-classification-id", classificationId);
    });

    // Consume notifications, reload page and create toast
    // It should change by using environment variables or any other external way
    // DEV
    var source = new EventSource("http://localhost:8081/api/v1/notifications");
    // LOCAL
    // var source = new EventSource("http://localhost:30002/api/v1/image-classification/notifications");

    source.addEventListener("CLASSIFICATION_RESULT", function(event) {
        const data = JSON.parse(event.data);

        $.toast({
            heading: "Success",
            text: "Image <b>" + data.name + "</b> was successfully classified!",
            showHideTransition: 'slide',
            icon: "success",
            hideAfter: 5000,
            bgColor: "#28a745",
            loaderBg: "#28d745",
            position: "top-right",
            afterHidden: function () {
                location.reload();
            }
        })
    });
</script>