<!DOCTYPE html>
<html lang="en">
    {#include base.html}{/include}
    {#include new-classification.html}{/include}

    <body>
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-brand">Quarkus Hackaton</div>
        </nav>

        <!-- DATA TABLE -->
        <div class="container-xl">
            <div class="table-margin">
                <div class="table-wrapper bg-white">
                    <div class="table-title bg-dark text-white">
                        <div class="row">
                            <div class="col-sm-5">
                                <h2>Image classification</h2>
                            </div>
                            <div class="col-sm-7">
                                <button type="button" class="btn" data-toggle="modal" data-target="#newClassificationModal"><i class="material-icons">&#xE147;</i><span>Add new classification</span></button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        {#if classifications.size == 0}
                        <tr>
                            <td colspan="5">No data found.</td>
                        </tr>
                        {#else}
                        {#for classification in classifications}
                        <tr>
                            {#if classification.url == null}
                            <td><span class="material-icons avatar">no_photography</span></td>
                            {#else}
                            <td><img src="{classification.url}" class="avatar"></td>
                            {/if}
                            <td>{classification.name}</td>
                            <td>{classification.createdAt}</td>
                            {#if classification.status == "ACTIVE"}
                            <td><span class="status status-success">&bull;</span> Processed</td>
                            {#else if classification.status == "PENDING"}
                            <td><span class="status status-pending">&bull;</span> Processing</td>
                            {#else if classification.status == "ERROR"}
                            <td><span class="status status-error">&bull;</span> Error processing</td>
                            {/if}
                            <td>
                                <a href="#" class="settings"><i class="material-icons">&#xE8B8;</i></a>
                                <a href="#" class="delete"><i class="material-icons">&#xE5C9;</i></a>
                            </td>
                        </tr>
                        {/for}
                        {/if}
                    </table>

                    <div class="clearfix">
                        <div class="hint-text">Showing <b>1-5</b> of <b>{classifications.size}</b></div>
                        <ul class="pagination">
                            <li class="page-item disabled"><a href="#">Previous</a></li>
<!--                            <li class="page-item active"><a href="#" class="page-link">1</a></li>-->
<!--                            <li class="page-item"><a href="#" class="page-link">2</a></li>-->
<!--                            <li class="page-item"><a href="#" class="page-link">3</a></li>-->
<!--                            <li class="page-item"><a href="#" class="page-link">4</a></li>-->
<!--                            <li class="page-item"><a href="#" class="page-link">5</a></li>-->
                            <li class="page-item disabled"><a href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>