<div class="modal fade" id="newClassificationModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="form">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="modalLabel">New classification</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name"
                               placeholder="Enter classification name">
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="3"
                                  placeholder="Enter classification description"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="file">Upload image</label>
                        <input type="file" class="form-control-file" id="file" name="file">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-lg btn-block btn-dark text-white">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Send create request to server-side and reloads page afterwards
    // Really necessary since MultipartFormDataInput needs that each field is encoded individually
    $("form").submit(function() {
        var formData = new FormData();

        formData.append("name", new Blob([$("#name").val()], { type: "text/plain;charset=utf-8"}));
        formData.append("description", new Blob([$("#description").val()], { type: "text/plain;charset=utf-8"}));
        formData.append('file', $('input[type=file]')[0].files[0]);

        $.ajax({
            url: "/new-classification",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(result) {
                location.reload();
            },
            error: function(error) {
                alert("Error trying to create image classification");
            }
        })
    })
</script>