<div class="modal fade bd-example-modal-lg" id="readClassificationModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="modalLabel"></h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <img id="url" class="big-avatar">
                </div>

                <div class="modal-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <h5 id="first-tag" class="tag-title">Tag #1</h5>
                                <div class="progress">
                                    <div id="first-tag-confidence" class="progress-bar bg-success" role="progressbar"
                                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <span id="first-tag-confidence-text"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm">
                                <h5 id="second-tag" class="tag-title">Tag #2</h5>
                                <div class="progress">
                                    <div id="second-tag-confidence" class="progress-bar bg-success" role="progressbar"
                                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <span id="second-tag-confidence-text"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm">
                                <h5 id="third-tag" class="tag-title">Tag #3</h5>
                                <div class="progress">
                                    <div id="third-tag-confidence" class="progress-bar bg-success" role="progressbar"
                                         aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                                        <span id="third-tag-confidence-text"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-sm">
                                <h5 id="fourth-tag" class="tag-title">Tag #4</h5>
                                <div class="progress">
                                    <div id="fourth-tag-confidence" class="progress-bar bg-success" role="progressbar"
                                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <span id="fourth-tag-confidence-text"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm">
                                <h5 id="fifth-tag" class="tag-title">Tag #5</h5>
                                <div class="progress">
                                    <div id="fifth-tag-confidence" class="progress-bar bg-success" role="progressbar"
                                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <span id="fifth-tag-confidence-text"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm">
                                <h5 id="sixth-tag" class="tag-title">Tag #6</h5>
                                <div class="progress">
                                    <div id="sixth-tag-confidence" class="progress-bar bg-success" role="progressbar"
                                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <span id="sixth-tag-confidence-text"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>